<h4>Select with Form</h4>
<form
  [formGroup]="myForm"
  (ngSubmit)="onSubmit()">
  <app-select
    [values]="tipoDocumentos()"
    [selected]="documento()"
    label="Documento"
    (selectedChange)="selectedChange($event)"
    formControlName="documento" />
  <button
    type="submit"
    [disabled]="myForm.invalid">
    Submit
  </button>
</form>
{{ "Form: " + myForm.value.documento }}
<hr />
<h4>Select with ngModel</h4>
<app-select
  [values]="tipoPlantas()"
  [selected]="planta()"
  label="Planta"
  [(ngModel)]="plantaNgModel" />
{{ plantaNgModel() }}
