.ng-tooltip { 
    position: absolute; 
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    background-color: #000;
    opacity: 0; 
    transition: opacity 0.3s;
}

.ng-tooltip-show { 
opacity: 1;
}