<div
  class="modal"
  [ngClass]="{ show: showModal() }"
  (click)="closeOnBackdrop($event)"
  (keyup)="closeOnBackdrop($event)"
  role="button"
  tabindex="0">
  <div class="modal-content">
    <div class="modal-header">
      {{ title() }}
      <span
        class="modal-close"
        (click)="cancelModal()"
        (keyup)="cancelModal()"
        role="button"
        tabindex="0"
        >✕</span
      >
    </div>
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
    <div class="modal-footer">
      @if (okText() || cancelText()) {
        @if (okText(); as okText) {
          <app-button
            [title]="okText"
            [class]="okClass()"
            [disabled]="okDisabled()"
            (onClick)="okModal()" />
        }
        @if (cancelText(); as cancelText) {
          <app-button
            [title]="cancelText"
            [class]="cancelClass()"
            (onClick)="cancelModal()" />
        }
      }
    </div>
  </div>
</div>
