<div class="modal" [ngClass]="{'show': showModal()}" (click)="closeOnBackdrop($event)">
  <div class="modal-content">
    <div class="modal-header">
      {{ title() }}
      <span class="modal-close" (click)="cancelModal()">✕</span>
    </div>
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
    <div class="modal-footer">
      @if (okText() || cancelText()) {
        @if (okText(); as okText) {
          <app-button [title]="okText" [class]="okClass()" [disabled]="okDisabled()" (onClick)="okModal()"/>
        }
        @if (cancelText(); as cancelText) {
          <app-button [title]="cancelText" [class]="cancelClass()" (onClick)="cancelModal()"  />
        }
      }
    </div>
  </div>
</div>
