<input
  type="text"
  placeholder="Ingrese solo texto con ngModel"
  appOnlyText
  [(ngModel)]="text"
/>
<input type="text" placeholder="Ingrese solo texto" appOnlyText />
<input type="text" placeholder="Ingrese cualquier valor" />
{{ text }}
<hr />
<input
  [type]="'text'"
  [placeholder]="'Ingrese solo numeros'"
  [(ngModel)]="inputNumber"
  appNumbersOnly
/>
{{ inputNumber }}
<hr />
<p appUnderline>{{ textDirective() }}</p>
<p>{{ textWithOutDirective() }}</p>
<hr />
<h3>debounceTime</h3>
<input
  type="text"
  [(ngModel)]="searchTerm"
  [debounceTime]="500"
  (search)="onSearch($event)"
  appDebounceInput
/>
{{ searchTermDebounced }}
<hr />
<h3>Highlight</h3>
<p appHighlight [highlightColor]="'blue'">This text is highlighted</p>
<hr />
<h3>Custom Highlight</h3>
<p appCustomHighlight highlightColor="green">
  Click me to change my background color.
</p>
