<div class="sidebar">
  <h2>Menú</h2>
  <ul>
    <li>
      <button
        type="button"
        (click)="redirigir('tables')">
        Tablas
      </button>
    </li>
    <li>
      <button
        type="button"
        (click)="redirigir('buttons')">
        Botones
      </button>
    </li>
    <li>
      <button
        type="button"
        (click)="redirigir('modals')">
        Modales
      </button>
    </li>
    <li>
      <button
        type="button"
        (click)="redirigir('directives')">
        Directivas
      </button>
    </li>
    <li>
      <button
        type="button"
        (click)="redirigir('inputs')">
        Inputs
      </button>
    </li>
    <li>
      <button
        type="button"
        (click)="redirigir('spinners')">
        Spinners
      </button>
    </li>
    <li>
      <button
        type="button"
        (click)="redirigir('accordion')">
        Accordion
      </button>
    </li>
    <li>
      <button
        type="button"
        (click)="redirigir('forms')">
        Forms
      </button>
    </li>
    <li>
      <button
        type="button"
        (click)="redirigir('pipes')">
        Pipes
      </button>
    </li>
    <li>
      <button
        type="button"
        (click)="redirigir('selects')">
        Selects
      </button>
    </li>
  </ul>
</div>
