<div class="sidebar">
  <h2>Menú</h2>
  <ul>
    <li><a (click)="redirigir('tables')">Tablas</a></li>
    <li><a (click)="redirigir('buttons')">Botones</a></li>
    <li><a (click)="redirigir('modals')">Modales</a></li>
    <li><a (click)="redirigir('directives')">Directivas</a></li>
    <li><a (click)="redirigir('inputs')">Inputs</a></li>
    <li><a (click)="redirigir('spinners')">Spinners</a></li>
    <li><a (click)="redirigir('accordion')">Accordion</a></li>
    <li><a (click)="redirigir('forms')">Forms</a></li>
  </ul>
</div>
